In [8]:
import warnings
warnings.simplefilter('ignore')

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style='darkgrid')

In [10]:
df = pd.read_csv('creditcard.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [12]:
df.describe().round(2).T

,count,mean,std,min,25%,50%,75%,max
Time,284807.0,94813.86,47488.15,0.00,54201.50,84692.00,139320.50,172792.00
V1,284807.0,0.00,1.96,-56.41,-0.92,0.02,1.32,2.45
V2,284807.0,0.00,1.65,-72.72,-0.60,0.07,0.80,22.06
V3,284807.0,-0.00,1.52,-48.33,-0.89,0.18,1.03,9.38
V4,284807.0,0.00,1.42,-5.68,-0.85,-0.02,0.74,16.88
V5,284807.0,0.00,1.38,-113.74,-0.69,-0.05,0.61,34.80
V6,284807.0,0.00,1.33,-26.16,-0.77,-0.27,0.40,73.30
V7,284807.0,-0.00,1.24,-43.56,-0.55,0.04,0.57,120.59
V8,284807.0,0.00,1.19,-73.22,-0.21,0.02,0.33,20.01
V9,284807.0,-0.00,1.10,-13.43,-0.64,-0.05,0.60,15.59
V10,284807.0,0.00,1.09,-24.59,-0.54,-0.09,0.45,23.75
V11,284807.0,0.00,1.02,-4.80,-0.76,-0.03,0.74,12.02
V12,284807.0,-0.00,1.00,-18.68,-0.41,0.14,0.62,7.85
V13,284807.0,0.00,1.00,-5.79,-0.65,-0.01,0.66,7.13
V14,284807.0,0.00,0.96,-19.21,-0.43,0.05,0.49,10.53
V15,284807.0,0.00,0.92,-4.50,-0.58,0.05,0.65,8.88
V16,284807.0,0.00,0.88,-14.13,-0.47,0.07,0.52,17.32
V17,284807.0,-0.00,0.85,-25.16,-0.48,-0.07,0.40,9.25
V18,284807.0,0.00,0.84,-9.50,-0.50,-0.00,0.50,5.04
V19,284807.0,0.00,0.81,-7.21,-0.46,0.00,0.46,5.59
V20,284807.0,0.00,0.77,-54.50,-0.21,-0.06,0.13,39.42
V21,284807.0,0.00,0.73,-34.83,-0.23,-0.03,0.19,27.20
V22,284807.0,-0.00,0.73,-10.93,-0.54,0.01,0.53,10.50
V23,284807.0,0.00,0.62,-44.81,-0.16,-0.01,0.15,22.53
V24,284807.0,0.00,0.61,-2.84,-0.35,0.04,0.44,4.58
V25,284807.0,0.00,0.52,-10.30,-0.32,0.02,0.35,7.52
V26,284807.0,0.00,0.48,-2.60,-0.33,-0.05,0.24,3.52
V27,284807.0,-0.00,0.40,-22.57,-0.07,0.00,0.09,31.61
V28,284807.0,-0.00,0.33,-15.43,-0.05,0.01,0.08,33.85
Amount,284807.0,88.35,250.12,0.00,5.60,22.00,77.16,25691.16
Class,284807.0,0.00,0.04,0.00,0.00,0.00,0.00,1.00

In [13]:
print("Duplicated Rows:",df.duplicated().sum())
print("-"*30)
print("Number of Rows:",df.shape[0])
print("-"*30)
print("Number of Columns:",df.shape[1])

Duplicated Rows: 1081
------------------------------
Number of Rows: 284807
------------------------------
Number of Columns: 31

In [14]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [18]:
print("Numeric Col Names :- ",df.select_dtypes(include=['number']).columns)
print("-"*100)
print("Categorical Col Names :- ",df.select_dtypes(include=['object']).columns)

Numeric Col Names :-  Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')
----------------------------------------------------------------------------------------------------
Categorical Col Names :-  Index([], dtype='object')

In [21]:
color_palette = [
    "#371EA3","#4E3DA5","#655CAC",
    "#7B7CB7","#929BC6","#A8BBD8",
    "#BFD7E7","#D5EAF1","#E9F7F8"
]

In [20]:
print("\n===== Skewness & Kurtosis ====")
for col in df:
    print(f"{col:25s} | Skewness: {df[col].skew():.4f} | Kurtosis: {df[col].kurtosis():.4f}")

===== Skewness & Kurtosis ====
Time                      | Skewness: -0.0356 | Kurtosis: -1.2935
V1                        | Skewness: -3.2807 | Kurtosis: 32.4867
V2                        | Skewness: -4.6249 | Kurtosis: 95.7731
V3                        | Skewness: -2.2402 | Kurtosis: 26.6196
V4                        | Skewness: 0.6763 | Kurtosis: 2.6355
V5                        | Skewness: -2.4259 | Kurtosis: 206.9046
V6                        | Skewness: 1.8266 | Kurtosis: 42.6425
V7                        | Skewness: 2.5539 | Kurtosis: 405.6074
V8                        | Skewness: -8.5219 | Kurtosis: 220.5870
V9                        | Skewness: 0.5547 | Kurtosis: 3.7313
V10                       | Skewness: 1.1871 | Kurtosis: 31.9882
V11                       | Skewness: 0.3565 | Kurtosis: 1.6339
V12                       | Skewness: -2.2784 | Kurtosis: 20.2419
V13                       | Skewness: 0.0652 | Kurtosis: 0.1953
V14                       | Skewness: -1.9952 | Kurtosis: 23.8795
V15                       | Skewness: -0.3084 | Kurtosis: 0.2848
V16                       | Skewness: -1.1010 | Kurtosis: 10.4191
V17                       | Skewness: -3.8449 | Kurtosis: 94.7997
V18                       | Skewness: -0.2599 | Kurtosis: 2.5783
V19                       | Skewness: 0.1092 | Kurtosis: 1.7250
V20                       | Skewness: -2.0372 | Kurtosis: 271.0161
V21                       | Skewness: 3.5930 | Kurtosis: 207.2870
V22                       | Skewness: -0.2133 | Kurtosis: 2.8330
V23                       | Skewness: -5.8751 | Kurtosis: 440.0887
V24                       | Skewness: -0.5525 | Kurtosis: 0.6189
V25                       | Skewness: -0.4158 | Kurtosis: 4.2904
V26                       | Skewness: 0.5767 | Kurtosis: 0.9190
V27                       | Skewness: -1.1702 | Kurtosis: 244.9892
V28                       | Skewness: 11.1921 | Kurtosis: 933.3975
Amount                    | Skewness: 16.9777 | Kurtosis: 845.0926
Class                     | Skewness: 23.9976 | Kurtosis: 573.8878